h2 {
    color: red;
}

p {
    color: yellowgreen;
}

.titulo-aula {
    text-decoration: underline;
}

.texto-azul {
    color: blue;
}

.texto-vermelho {
    color: red;
}

#titulo-segunda-aula {
    color: brown;
}

#titulo-primeira-aula {
    text-decoration: none;
}

span {
    color: purple;
}

.texto-vermelho span {
    color: rgb(17, 187, 187);
}

html {
    color: rgb(160, 16, 16);
    background-color: black;
}

main {
    background-color: #fff;
    background-image: url('./livros-cachorros.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-aula {
    background-color: chartreuse;
}